@import '../node_modules/modern-normalize/modern-normalize.css';

/* Update urls of fonts or remove below imports if not using external fonts */
@font-face {
  font-family: 'main-font';
  src: url(fonts/PTMono-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'headings-font';
  src: url(fonts/Monofonto-Regular.woff2) format('woff2');
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font);
  font-family: var(--font-heading);
  font-weight: lighter;
}
a:visited {
  color: inherit;
}
:root {
  --space-base: 4px;

  /* Remember to set below colors */
  --font: ;
  --bg: ;
  --bg-light: ;

  /* Font Families */
  --font-body:
    'main-font', system-ui, -apple-system, Segoe UI, Oxygen, Ubuntu, sans-serif;
  --font-heading:
    'headings-font', 'Inter', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
  line-height: 1.5;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  border: 1px solid transparent;
}
main {
  flex: 1;
  border: 1px solid red;
}
h1 {
  font-size: 1.3rem;
}
